{% extends 'core/base.html' %}

{% block title %}{{ room.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ room.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ room.name }}</h1>
        <p class="text-gray-500"><strong>Price: </strong>{{ room.price }}</p>
        <p class="text-gray-500"><strong>Hotel Description: </strong>{{ room.description }}</p>
    
        {% if item.description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">Description:</strong><br>
                {{ room.description }}
            </p>
        {% endif %}

            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>Book now to get 50% discount.</p>

                <a href="{% url 'bookings:payment' room.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Book Now</a>
                
            </div>
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Similar rooms</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for room in related_rooms %}
            <div>
                <a href="{% url 'bookings:detail' room.id %}">
                    <div>
                        <img src="{{ room.image.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ room.name }}</h2>
                        <p class="text-gray-500">Price: {{ room.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}